.block_1{
    width: 15em;
    background-color: rgba(187, 197, 206, 0.651);
    float: left;
    
    }
    .img{
        float: right;
        margin: 5px 5px;
    }
    .block_2{
        margin-bottom: .2em;
        background-color:  rgba(200, 97, 206, 0.651);
        overflow: hidden;
    }
    .all{
        background-color: rgba(147, 155, 162, 0.852);
    }
    h3{
        margin: 0px;
    }
    p{
        margin: 0px;
    }
    .podal{
        overflow: auto;
        margin-top: .2em;
        background-color: rgba(147, 155, 162, 0.852);
    }